

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }

  body {
    
    margin: 0;
    padding: 0;
    min-height: 100%;
    background: linear-gradient(to bottom, #182f3f, #01060a); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
